<nav class="navbar navbar-expand-md navbar-light bg-white fixed-top-2 shadow-sm" role="navigation2">
	<div class="container">
		<button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
			&#9776;
		</button>
		<div class="collapse navbar-collapse" id="exCollapsingNavbar">
			<ul class="nav navbar-nav">
				<li class="nav-item"><a href="/furnitures/category/desk" class="nav-link">Desks</a></li>
				<li class="nav-item"><a href="/furnitures/category/lamp" class="nav-link">Lamps</a></li>
				<li class="nav-item"><a href="/furnitures/category/table" class="nav-link">Tables</a></li>
				<li class="nav-item"><a href="/furnitures/category/seating" class="nav-link">Seats</a></li>
				<li class="nav-item"><a href="/furnitures/category/storage" class="nav-link">Storage</a></li>
			</ul>
		</div>
	</div>
</nav>