<nav class="navbar navbar-expand-md navbar-light bg-white fixed-top-2 shadow-sm" role="navigation2">
	<div class="container">
		<button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
			&#9776;
		</button>
		<div class="collapse navbar-collapse" id="exCollapsingNavbar">
			<ul class="nav navbar-nav">
				<li class="navbar-text text-primary mr-1">Filter By</li>

				{{!-- 
				<li class="nav-item"><a href="#" class="nav-link">Location </a></li> --}}
				<li id="nav-link-technology" class="nav-item"><a href="#0" class="nav-link">Technology</a></li>
				<ul id="technology-list" class="nav navbar-nav d-none">
					<li class="nav-item"><a href="/workshops/technique/cutting" class="nav-link text-dark">Cutting</a></li>
					<li class="nav-item"><a href="/workshops/technique/drilling" class="nav-link text-dark">Drilling</a></li>
					<li class="nav-item"><a href="/workshops/technique/engraving" class="nav-link text-dark">Engraving</a></li>
					<li class="nav-item"><a href="/workshops/technique/heating" class="nav-link text-dark">Heating</a></li>
					<li class="nav-item"><a href="/workshops/technique/milling" class="nav-link text-dark">Milling</a></li>
					<li class="nav-item"><a href="/workshops/technique/printing" class="nav-link text-dark">Printing</a></li>
					<li class="nav-item"><a href="/workshops/technique/wielding" class="nav-link text-dark">Wielding</a></li>
				</ul>
				{{!-- <li class="nav-item" id="nav-link-map"><a href="#" class="nav-link">Show map</a></li> --}}
			</ul>
		</div>
	</div>
</nav>