<footer class="bg-light p-5 text-muted invisible border-top">
	<div class="container">
		<div class="row">
			<div class="col-sm-2 info">
				<h5>Information</h5>
				<small>
					<p> Lorem ipsum dolor amet, consectetur adipiscing elit. Etiam consectetur aliquet aliquet. Interdum et
						malesuada fames ac ante ipsum primis in faucibus. </p>
				</small>
			</div>
			<div class="col-sm-2">
				<h5>Get started</h5>
				<ul class="list-unstyled">
					<small>
						<li><a class="text-muted" href="#">Home</a></li>
						<li><a class="text-muted" href="#">Sign up</a></li>
						<li><a class="text-muted" href="#">Downloads</a></li>
					</small>
				</ul>
			</div>
			<div class="col-sm-2">
				<h5>About us</h5>
				<ul class="list-unstyled">
					<small>
						<li><a class="text-muted" href="#">Company Information</a></li>
						<li><a class="text-muted" href="#">Contact us</a></li>
						<li><a class="text-muted" href="#">Reviews</a></li>
					</small>
				</ul>
			</div>
			<div class="col-sm-2">
				<h5>Support</h5>
				<ul class="list-unstyled">
					<small>
						<li><a class="text-muted" href="#">FAQ</a></li>
						<li><a class="text-muted" href="#">Help desk</a></li>
						<li><a class="text-muted" href="#">Forums</a></li>
					</small>
				</ul>
			</div>

			<div class="col-sm-2">

				<ul class="list-inline col-xs-12 d-flex justify-content-center">
					<a href="#" class="text-muted mx-2"><i class="fa fa-instagram"></i></a>
					<a href="#" class="text-muted mx-2"><i class="fa fa-facebook"></i></a>
					<a href="#" class="text-muted mx-2"><i class="fa fa-pinterest"></i></a>
				</ul>
			</div>
		</div>
	</div>
</footer>