# Dependency directory
node_modules

# Debug log from npm
npm-debug.log

# Environment Variables should NEVER be published
.env

# sass generated css
#public/stylesheets/style.css
#public/stylesheets/style.css.map
.jshintrc

# enforce git ignore  git rm --cached <file>
# https://stackoverflow.com/a/39016176

# github language detection
public/* linguist-vendored
