<section>
	<div class="container mt-5">
		<div class="row align-items-center">
			<div class="col-lg-6">
				<h1 class="hero-heading mb-0">You are</h1>
				<h1>&#8203;
					<a href="" class="typewrite text-danger" data-period="2000"
						data-type='[ "a Design lover ?", "a Maker.", "a Fab Lab.", "A Designer !" ]'>
						<span class="wrap"></span>
					</a>
				</h1>

				<div class="row">
					<div class="col-lg-10">
						<p class="lead text-muted mt-4 mb-4">
							Nomi provide exclusive and local furnitures through a plaftfom which able new designs to emerge from an
							intuive collaboration process.

						</p>
					</div>
				</div>

				<form action="#" class="subscription-form form-inline">
					<div class="form-group">
						<input type="email" name="email" placeholder="Name@company.com" class="form-control">
						<button type="submit" class="btn btn-primary">Get Started</button>
					</div>
				</form>
			</div>

			<div class="col-lg-6"><img src="/images/room.png" alt="..." class="hero-image img-fluid d-none d-lg-block"></div>
		</div>

	</div>
</section>


<section>
	<div class="container pt-5">
		<div class="text-center">
			<h2>Find people to work with ! </h2>
			<p class="lead text-muted mt-2">Find and submit amazing designs and projects and gather to craft
				together. Get involved at your scale and use local materials to build a curated list of designs. Or trust us to
				get it done and delivered to you ! </p><a href="#" class="btn btn-primary">Learn More</a>
		</div>
		<div class="row pt-5">
			<div class="col-lg-7 mx-auto"><img src="/images/tools.png" alt="..."
					class="intro-image img-fluid d-none d-lg-block mx-auto"></div>
		</div>
	</div>
</section>

<section>
	<div class="container pt-5">
		<div class="text-center">
			<p class="lead text-muted mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In euismod blandit urna,
				eu condimentum sem lobortis ut. Fusce
				non eros eu nunc tincidunt maximus. Nulla rutrum, diam nec malesuada imperdiet, velit quam consequat quam, non
				maximus
				sapien odio nec urna. Ut non turpis velit. Quisque et vulputate lacus. Nullam vehicula mi vitae felis semper
				maximus.
				Fusce pellentesque fermentum sem, non fringilla magna efficitur in. Curabitur molestie dapibus molestie. In
				porta vel
				purus et suscipit. Vestibulum posuere odio lorem, auctor aliquam mi efficitur vitae. Vivamus gravida felis eu
				libero
				posuere, at fringilla mi maximus </p><a href="#" class="btn btn-primary">Learn More</a>
		</div>
	</div>
</section>