/*
NONAME PROJECT THEME 0.1 
BS SASS variables list here :
https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_variables.scss
*/

/* * * * * * * * * * * * * */
/* BS VARIABLES OVERRIDES  */
/* * * * * * * * * * * * * */

// @import url("https://fonts.googleapis.com/css?family=Karla|Rubik:500");
// $font-family-sans-serif: "Karla", Arial, sans-serif !default;
// $headings-font-family: "Rubik", Arial, sans-serif !default;

@import url("https://fonts.googleapis.com/css?family=Asap:400,600");
$font-family-sans-serif: "Asap", Arial, sans-serif !default;
$headings-font-family: "Asap", Arial, sans-serif !default;
$headings-font-weight: 600 !default;

$theme-colors: (
  "primary": #333,
  "secondary": #f6f3eb,
  "danger": #d9534f,
  "warning": #ffe9a9,
  "success": #b3c2bf,
  "dark": #333,
  "light": #f2f2f2
);

$enable-rounded: false;

@import "node_modules/bootstrap/scss/bootstrap";

/* * * * * * * * * * * * * */
/* THEME SPECIFIC STYLING  */
/* * * * * * * * * * * * * */

/* Body wrapping */

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  padding: 56px 0;
}

/* Navbar */

.navbar .dropdown-menu .form-control {
  width: 200px;
}

.nav-link-button {
  padding: 0.282rem 1rem;
}

.fixed-top-2 {
  margin-top: 56px;
}

/* 404 Page */

.fill-404 {
  background: linear-gradient(290deg, #5dd9b9, #7f81c6, #a2e6e6);
  background-size: 600% 600%;

  -webkit-animation: gradient 17s ease infinite;
  -moz-animation: gradient 17s ease infinite;
  animation: gradient 17s ease infinite;

  @-webkit-keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @-moz-keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

/* TABLES */
table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
  bottom: 0.5em;
}

// Item show parrallax
.show-workshop-details {
  background: url("https://dummyimage.com/1920x1080/dedede/f2f2f2&text=Big+img")
    no-repeat center center;
  height: 450px; /* must be same as jumbotron */
  top: 0;
  left: 0;
  z-index: -1;
}

.show-workshop-details + div {
  height: 450px;
  text-shadow: #444 0 1px 1px;
  background: transparent;
}
